.App {
    background-color: rgb(240, 236, 230);
}
.topBar{
    background-color: rgb(22, 22, 92);
    height: 60px;
}
.topBar1 {  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4%;
    color: white;
    font-size: 17px;
    font-style: italic;
}
.topBar2{
    position: relative; top: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-style: normal;
}
.topBar3{
    display: flex;
    font-size: 15px;
    color: black;
    padding-left: 8%;
    font-style: normal;
}
.topBar30{
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}
.topBar4{
    display: flex;
    font-size: 15px;
    padding-right: 5%;
    font-style: normal;

}
.secondBar{
    padding: 20px;
    background-color: rgb(92, 196, 196);
    color: white;
    font: 10px;
    margin-left: 3%;
    margin-right: 5%;
}
.thirdBar{
    padding: 20px;
    background-color: rgb(33, 184, 243);
    color: white;
    font: 10px;
    margin-left: 3%;
    margin-right: 5%;
}
.news{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}
.leftColumn{
    border-top: 1px solid black;
    background-color: white; 
    margin-left: 3%;
    padding: 7px;
    width: 60%;
}
.rightColumn{
    width: 28%;
    background-color: white;
    margin-right: 5%;
    padding: 17px;
}
.borderBottom{
    border-bottom: 4px solid rgb(190, 187, 187);
}
.rightFlex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid rgb(190, 187, 187);
}
.rightSide{
    display: flex;
    flex-direction: row;
    
}
.rightText{
    flex-wrap: wrap;
    margin-left: 30px;
}
.leftText{
    flex-wrap: wrap;
    font-size: 30px;
}
.red{
    color: red;
}
.blue{
    
    color: blue;
}
.bold{
    font-weight: bold;
}
.rightNumber{
    position: relative; bottom: 35px;
    font-size: 30px;
    color: rgb(92, 196, 196);
}